fail to flash stock firmware on WAX206

followed instructions

```
 .\nmrpflash -vvv -i net21 -f .\WAX206_V1.0.1.5_Firmware.img
nmrpflash 0.9.25
  {D7368126-1D83-4032-9D8D-4B10DB38CB44}: Type=6, Name=Ethernet 1G [base]
Waiting for Ethernet connection (Ctrl-C to skip).
Adding 10.164.183.252 to interface net21.
Warning: IP address marked as deprecated.
Advertising NMRP server on net21 ... \
Received configuration request from 34:98:b5:19:17:df.
Sending configuration: 10.164.183.253/24.
Received upload request: filename 'firmware'.
Using remote filename 'firmware'.
Uploading WAX206_V1.0.1.5_Firmware.img ... << WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
<< WRQ(firmware, octet)
Timeout while waiting for ACK(0)/OACK.
Failed to send/receive initial TFTP packet. Possible fixes:
- Disable firewall, or add an exception for nmrpflash
- Manually specify IP addresses using `-a` and/or `-A`
```

wireshark capture
```
4	3.651688	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
5	3.654479	10.164.183.253	10.164.183.252	TFTP	60	Option Acknowledgement, blksize=1456
6	3.654479	10.164.183.253	10.164.183.252	TFTP	60	Acknowledgement, Block: 0
7	3.870664	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
8	4.072683	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
9	4.273164	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
10	4.474763	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
12	4.679554	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
13	4.882444	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
14	5.086207	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
15	5.289610	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
17	5.490309	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
19	5.692315	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
20	5.892797	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
21	6.093811	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
22	6.295640	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
24	6.499063	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
28	6.703093	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
30	6.909284	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
31	7.113433	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
32	7.317275	10.164.183.252	10.164.183.253	TFTP	72	Write Request, File: firmware, Transfer type: octet, blksize=1456
```

so, the WAX206 did acknowlege the block size & block zero but failed to complete the transfer.

Any advice please.

same result.

what email do i send the wireshark dump to ?

> followed instructions

I'm assuming you haven't tried this:

<pre><code><< WRQ(firmware, octet)
Timeout while waiting for ACK(0)/OACK.
Failed to send/receive initial TFTP packet. Possible fixes:
<b>- Disable firewall, or add an exception for nmrpflash</b>
- Manually specify IP addresses using `-a` and/or `-A`
</code></pre>

Try the attached version. This should automatically add a firewall exception for you.

[nmrpflash-0.9.25-19-g7e82bff-win32.zip](https://github.com/user-attachments/files/19824684/nmrpflash-0.9.25-19-g7e82bff-win32.zip)


Had this firewall rule in place

 ![Image](https://github.com/user-attachments/assets/77245ac9-bbbb-41fc-9985-58d111732155)

but obviosly not working sufficiently, because the new version you sent in your last message worked.

```
[snip preceding]
<< DATA(18272)
>> ACK(18272)
<< DATA(18273)
>> ACK(18273)
<< DATA(18274)
>> ACK(18274)
<< DATA(18275)
>> ACK(18275)
 OK (26608168 b)
Waiting for remote to respond.
Received keep-alive request (1).
Remote finished. Closing connection.
Reboot your device now.
```

Thanks very much 
🥇 

The issue with your rule was that it specified an execption for _outbound_ packets.  These were sent just fine, and the router also responded (as can be seen in your wireshark dump). However the _inbound_ packets (from the router to your computer) were blocked.

What's interesting from a technical standpoint is that is that your router's TFTP implementation is the first one I've seen that correctly switches from port 69 to a randomly assigned one[1] (which is why the firewall didn't recognize the inbound packets, causing your issue) . The fact that it supports the `blksize` option[2] is also a first.

Thank you for testing. 

[1] [RFC 1350, Section 4](https://datatracker.ietf.org/doc/html/rfc1350#section-4)
[2] [RFC 2348](https://datatracker.ietf.org/doc/html/rfc2348)

